/********** Custom Properties *************/
:root {
    --main-font:'Roboto';
    --alternate-font:sans-serif;
    --font-size: 16px;
    --line-height:1.6;

    --main-color: rgb(81,81,81);
    --main-modal-color: rgba(81,81,81,.75);
    --second-color: rgb(62,17,101);
    --second-modal-color: rgba(62,17,101,.75);

    --bg-color: ;
    --bg-modal-color: ;
    --bg-alternate-color: ;
    --border-color: ;

    --text-color: #333;
    --title-color: var(--second-color);

    --link-color:var(--main-color);
    --link-hover-color:var(--second-color);

    --container-width:1200px;
    --header-height: 4rem;
}